{include file="common/meta"}
{include file="common/header"}
{include file="common/menu"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品分类管理 <span class="c-gray en">&gt;</span> 产品分类列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" onclick="picture_add('添加图片','category_add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加产品分类</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <!--<th width="40"><input name="" type="checkbox" value=""></th>-->
                        <th width="80">ID</th>
                        <th width="100">产品分类名称</th>
                        <th width="100">分类头图</th>
                        <th width="150">创建时间</th>
                        <th width="150">更新时间</th>
                        <th width="60">发布状态</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="res" id="v"}
                    <tr class="text-c">
                        <!--<td><input name="" type="checkbox" value=""></td>-->
                        <td>{$v.id}</td>
                        <td>{$v.name}</td>
                        <td>
                            <a href="javascript:;" onClick="picture_edit('图库编辑','banner_add','10001')">
                                <img width="100" class="picture-thumb" src="__NIMG__{$v.url}">
                            </a>
                        </td>
                        <td>{$v.created_time}</td>
                        <td>{$v.update_time}</td>
                        <td class="td-status">
                            {if condition="$v.type==1"}
                            <span class="label label-success radius">已发布</span>
                            {/if}
                            {if condition="$v.type==2"}
                            <span class="label label-defaunt radius">已上架</span>
                            {/if}
                            {if condition="$v.type==3"}
                            <span class="label label-danger radius">已下架</span>
                            {/if}
                        </td>
                        <td class="td-manage">
                            {if condition="$v.type==2"}
                            <a style="text-decoration:none" onClick="picture_start(this,'{$v.id}')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
                            {/if}
                            {if condition="$v.type==3"}
                            <a style="text-decoration:none" onClick="picture_stop(this,'{$v.id}')" href="javascript:;" title="上架"><i class="Hui-iconfont">&#xe6de;</i></a>
                            {/if}
                            <a style="text-decoration:none" class="ml-5" href="category_edit?id={$v.id}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                            {if condition="$v.type!=3"}
                            <a style="text-decoration:none" class="ml-5" onClick="picture_del(this,'{$v.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>
{include file="common/footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ALIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ALIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ALIB__/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
        ]
    });
    /* 分类-上架*/
    function picture_stop(obj,id) {
        var category_id = id;
        layer.confirm('确认要上架吗？',function(index){
            $.ajax({
                type:"POST",
                dateType:"json",
                async : true,
                url:"category_load",
                data:{category_id:category_id},
                success: function (result) {
                    if(result.status ==1){
                        layer.msg('已上架!',{icon:1,time:1000});
                    }else{
                        layer.msg('上架失败!',{icon:1,time:1000});
                    }
                },
            });
            setTimeout("window.location.reload()",1000);
        });
    }
    /*分类-发布*/
    function picture_start(obj,id){
        var category_id = id;
        layer.confirm('确认要发布吗？',function(index){
            $.ajax({
                type:"POST",
                dateType:"json",
                async : true,
                url:"category_start",
                data:{category_id:category_id},
                success: function (result) {
                    if(result.status ==1){
                        layer.msg('已发布!',{icon:1,time:1000});
                    }else{
                        layer.msg('发布失败!',{icon:1,time:1000});
                    }
                },
            });
            setTimeout("window.location.reload()",1000);
        });
    }

    /*分类-下架-删除*/
    function picture_del(obj,id){
        //console.log(id);
        var category_id = id;
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type:"POST",
                dateType:"json",
                async : true,
                url:"category_del",
                data:{category_id:category_id},
                success: function (result) {
                    if(result.status ==1){
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else{
                        layer.msg('删除失败!',{icon:1,time:1000});
                    }
                },
            });
            setTimeout("window.location.reload()",1000);
        });
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
{include file="common/footer"}