<!DOCTYPE html>
<html lang="en">
<head>
	<form>   
		Say:<input type="text" id=“robot” onkeyup="showHint(this.value)"/>      当键盘敲击时触发事件 发送ajax请求  
	</form>  
	<p>Ans: <span id="txtHint"></span></p>          作为回显的区域  
</body>
<script type="text/javascript">
var xmlHttp  
function showHint(str)  
{  
  if (str.length==0)  
    {   
    document.getElementById("txtHint").innerHTML="";  
    return;  
    }  
  xmlHttp=GetXmlHttpObject()  
  if (xmlHttp==null)  
    {  
    alert ("您的浏览器不支持AJAX！");  
    return;  
    }  
  var url="tuling2.php";  
  url=url+"?info="+str;  
  url=url+"&sid="+Math.random();  
  xmlHttp.onreadystatechange=stateChanged;  
  xmlHttp.open("GET",url,true);  
  xmlHttp.send(null);  
}   
function stateChanged()   
{   
	if (xmlHttp.readyState==4)  
	{   
	document.getElementById("txtHint").innerHTML=xmlHttp.responseText;  
	}  
} 
function GetXmlHttpObject()  
{  
  var xmlHttp=null;  
  try  
    {  
    // Firefox, Opera 8.0+, Safari  
    xmlHttp=new XMLHttpRequest();  
    }  
  catch(e)  
    {  
    // Internet Explorer  
    try  
      {  
      xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");  
      }  
    catch (e)  
      {  
      xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");  
      }  
    }  
return xmlHttp;  
}   
</script>
</html>



$id = $Req->param('id');
		        $result = $this->obj->CategoryDel($id);
		        if($result){
		            return $result;
		        }else{
		            return 0;
		        }